.jmc-portfolio-container {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  margin-top: 30px; }

.jmc-portfolio-lang-bar {
  display: table;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  height: 15px;
  opacity: 0;
  -webkit-transition: opacity 600ms ease-in;
  -moz-transition: opacity 600ms ease-in;
  -o-transition: opacity 600ms ease-in;
  -ms-transition: opacity 600ms ease-in;
  transition: opacity 600ms ease-in; }
  .jmc-portfolio-lang-bar.load {
    opacity: 1; }
  .jmc-portfolio-lang-bar .jmc-lang-color {
    display: table-cell;
    line-height: 8px;
    text-indent: -9999px; }
    .jmc-portfolio-lang-bar .jmc-lang-color.jmc-lang-color-java {
      background-color: #b07219; }
    .jmc-portfolio-lang-bar .jmc-lang-color.jmc-lang-color-javascript {
      background-color: #f1e05a; }
    .jmc-portfolio-lang-bar .jmc-lang-color.jmc-lang-color-css {
      background-color: #563d7c; }
    .jmc-portfolio-lang-bar .jmc-lang-color.jmc-lang-color-typescript {
      background-color: #2b7489; }
    .jmc-portfolio-lang-bar .jmc-lang-color.jmc-lang-color-html {
      background-color: #e44b23; }
    .jmc-portfolio-lang-bar .jmc-lang-color.jmc-lang-color-php {
      background-color: #4F5D95; }
    .jmc-portfolio-lang-bar .jmc-lang-color.jmc-lang-color-c-sharp {
      background-color: #178600; }
    .jmc-portfolio-lang-bar .jmc-lang-color.jmc-lang-color-powershell {
      background-color: #ccc; }
    .jmc-portfolio-lang-bar .jmc-lang-color.jmc-lang-color-shell {
      background-color: #89e051; }

.jmc-project-language {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 12px;
  margin-right: 5px;
  border-radius: 50%; }
  .jmc-project-language.jmc-project-language-java {
    background-color: #b07219; }
  .jmc-project-language.jmc-project-language-javascript {
    background-color: #f1e05a; }
  .jmc-project-language.jmc-project-language-css {
    background-color: #563d7c; }
  .jmc-project-language.jmc-project-language-typescript {
    background-color: #2b7489; }
  .jmc-project-language.jmc-project-language-html {
    background-color: #e44b23; }
  .jmc-project-language.jmc-project-language-php {
    background-color: #4F5D95; }
  .jmc-project-language.jmc-project-language-c-sharp {
    background-color: #178600; }
  .jmc-project-language.jmc-project-language-powershell {
    background-color: #ccc; }
  .jmc-project-language.jmc-project-language-shell {
    background-color: #89e051; }
