@media only screen and (min-width: 1100px) {
  .jmc-rune.one-third {
    width: 33.33333333%; } }

.jmc-rune.half, .jmc-rune.one-third, .jmc-rune.two-thirds, .jmc-rune.full {
  width: 100%; }

@media only screen and (min-width: 1400px) {
  .jmc-rune {
    height: 500px; } }

@media only screen and (min-width: 1100px) {
  .jmc-rune {
    float: left;
    height: 450px;
    -webkit-transition: -webkit-transform 0.5s 0.4s;
    -moz-transition: -moz-transform 0.5s 0.4s;
    transition: transform 0.5s 0.4s; } }

.jmc-rune {
  position: relative;
  height: 350px;
  text-align: center;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s 0.4s;
  -moz-transition: -moz-transform 0.5s 0.4s;
  transition: transform 0.5s 0.4s;
  overflow: hidden;
  display: block;
  margin: 0px; }
  .jmc-rune a {
    color: #ffffff;
    display: table;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .jmc-rune div.jmc-rune-content {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 80px; }
  .jmc-rune h2, .jmc-rune p, .jmc-rune .jmc-rotated-text, .jmc-rune i.jmc-rune-icon {
    color: #fff; }
  .jmc-rune h2 {
    margin: 0px; }
  .jmc-rune p {
    line-height: 1.4;
    opacity: 0.6;
    padding: 1em 0;
    margin-bottom: 10px;
    font-size: 16px;
    opacity: 0.7; }
  .jmc-rune strong {
    border: 3px solid rgba(255, 255, 255, 0.1);
    display: inline-block;
    font-size: 14px;
    padding: 15px 20px; }

a {
  -webkit-transition: color 0.4s ease-in-out;
  -moz-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  -ms-transition: color 0.4s ease-in-out;
  text-decoration: none; }

@media only screen and (min-width: 1400px) {
  .jmc-rune {
    height: 500px; } }

@media only screen and (min-width: 1100px) {
  .jmc-rune {
    float: left;
    height: 450px;
    -webkit-transition: -webkit-transform 0.5s 0.4s;
    -moz-transition: -moz-transform 0.5s 0.4s;
    transition: transform 0.5s 0.4s; } }

@media only screen and (min-width: 1100px) {
  .jmc-rune a:hover h2, .jmc-rune a:hover p {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.3s 0s;
    -moz-transition: -moz-transform 0.3s 0s;
    transition: transform 0.3s 0s; } }

@media only screen and (min-width: 1100px) {
  .jmc-rune a:hover strong {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 0.3s 0.1s, -webkit-transform 0.3s 0.1s;
    -moz-transition: opacity 0.3s 0.1s, -moz-transform 0.3s 0.1s;
    transition: opacity 0.3s 0.1s, transform 0.3s 0.1s; } }

@media only screen and (min-width: 1100px) {
  .jmc-rune.one-third {
    width: 33.33333333%; }
  .jmc-rune.two-thirds {
    width: 66.66666667%; } }

@media only screen and (min-width: 1100px) {
  .jmc-rune h2, .jmc-rune p {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: -webkit-transform 0.3s 0.1s;
    -moz-transition: -moz-transform 0.3s 0.1s;
    transition: transform 0.3s 0.1s; } }

@media only screen and (min-width: 1100px) {
  .jmc-rune strong {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, -moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s, transform 0.3s 0s; } }

i.jmc-rune-icon {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 54px;
  opacity: 0.1; }

.jmc-rotated-text {
  display: inline-block;
  overflow: hidden;
  width: 1.5em;
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 54px;
  opacity: 0.1; }

.jmc-rotated-text-inner {
  display: inline-block;
  white-space: nowrap;
  -webkit-transform: translate(1.1em, 0) rotate(90deg);
  -moz-transform: translate(1.1em, 0) rotate(90deg);
  -o-transform: translate(1.1em, 0) rotate(90deg);
  transform: translate(1.1em, 0) rotate(90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -ms-transform: none;
  -ms-transform-origin: none;
  -ms-writing-mode: tb-rl; }
  .jmc-rotated-text-inner:before {
    content: "";
    float: left;
    margin-top: 100%; }

.jmc-google-map {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%; }
